body {
    background-image: url('fon.jpg'); /* Подгружаем изображение */
    background-repeat: no-repeat;/* Изображение не повторяется*/
    font-family: 'Times New Roman', serif;
    font-size: 14px;
    color: red;/*Цвет Текста*/
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
}