.block4 {
  width: 100%;
  height: 1200px; /* Увеличиваем высоту блока */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #F5E8D0;
}


.text-container {
    position: absolute;
    top: 40px; /* Опускаем контейнер ниже */
    left: 18%;
    width: 63%; /* Немного уменьшаем ширину */
    display: flex;
    justify-content: space-around; /* Уменьшаем расстояние между блоками */
    align-items: flex-start;
}

.bigtext {
    width: 48%; /* Немного увеличиваем ширину, чтобы блоки были ближе */
    font-size: 35px;
    white-space: pre-wrap;
    word-break: break-word;
    line-height: 1;
    margin: 0;
    text-align: left;
    text-decoration: none;
    color:black;
}


.smalltext {
    width: 50%; /* Уменьшаем пространство между блоками */
    font-size: 13px;
    text-align: justify;
    display: block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-top: 90px; /* Опускаем текст немного ниже */
    text-decoration: none;
    color:black;


}


.smalltext::before {
    content: "";
    display: block;
    width: 50%; /* Длина линии */
    height: 4px;
    background-color:  black; /* Чёрная линия */
    margin-bottom: -20px; /* Смещаем линию вверх */
    position: relative;
    top: -40px; /* Поднимаем ещё выше */
}




.grid-wrapper {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F5E8D0; /* Добавляем фон, если нужно скрыть полосы */
  padding: 10px;
}


.grid-wrapper::before {
  content: "";
  position: absolute;
  top: 100px; /* Слегка поднимаем рамку */
  left: -130px; /* Выводим рамку за пределы слева */
  right: -130px; /* Выводим рамку за пределы справа */
  bottom: -70px; /* Опускаем рамку ниже */
  border: 3px solid rgb(199, 160, 112); /* Черная рамка */
  z-index: -1; /* Размещаем рамку позади сетки */
}
 

.grid-container { 
display: grid; 
grid-template-columns: repeat(5, 180px); /* Увеличиваем ширину колонок */ 
grid-template-rows: repeat(4, 180px); /* Увеличиваем высоту строк */ 
gap: 10px; 
   
} 




.grid-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}







.grid-container div { 
 border: none; /* Убираем обводку */
background-color: rgba(0, 0, 0, 0.1); } 




.grid-container div:nth-child(1) { 
grid-column: span 2; 
grid-row: span 2; 
 background-image: url('block4_1.jpg'); /* Замените 'your-image.jpg' на путь к изображению */
    background-size: cover; /* Заполняет всю область */
    background-position: center; /* Центрирует изображение */
} 







.grid-container div:nth-child(2) 
{ grid-row: span 2; 
 background-image: url('block4_2.jpg'); /* Замените 'your-image.jpg' на путь к изображению */
    background-size: cover; /* Заполняет всю область */
    background-position: center; /* Центрирует изображение */} 





.grid-container div:nth-child(3) { 
grid-column: span 2;
 background-image: url('block4_3.jpg'); /* Замените 'your-image.jpg' на путь к изображению */
    background-size: cover; /* Заполняет всю область */
    background-position: center; /* Центрирует изображение */ 
} 




 
.grid-container div:nth-child(4) { 
grid-column: span 2; 
background-image: url('block4_4.jpg'); /* Замените 'your-image.jpg' на путь к изображению */
    background-size: cover; /* Заполняет всю область */
    background-position: center; /* Центрирует изображение */
} 




.grid-container div:nth-child(8) {
  grid-column: 3 / span 3; /* Охватывает три столбца */
  grid-row: 3;
background-image: url('block4_5.jpg'); /* Замените 'your-image.jpg' на путь к изображению */
    background-size: cover; /* Заполняет всю область */
    background-position: center; /* Центрирует изображение */
}




.grid-container div:nth-child(13) {
  grid-column: 3 / span 3; /* Охватывает три столбца */
  grid-row: 4; /* Размещаем прямо под восьмым блоком */
}





.grid-container div:nth-child(11) {
  grid-column: 1 / span 2; /* Охватывает две колонки */
  grid-row: 4; /* Остаётся в четвертой строке */
background-image: url('block4_7.jpg'); /* Замените 'your-image.jpg' на путь к изображению */
    background-size: cover; /* Заполняет всю область */
    background-position: center; /* Центрирует изображение */

}




.grid-container div:nth-child(10) {
  grid-column: 3 / span 3; /* Охватывает три столбца */
  grid-row: 4; /* Размещается в четвёртой строке */
background-image: url('block4_6.jpg'); /* Замените 'your-image.jpg' на путь к изображению */
    background-size: cover; /* Заполняет всю область */
    background-position: center; /* Центрирует изображение */
}


.grid-container div:nth-child(5) {
  background-image: url('block4_8.jpg');
  background-size: cover;
  background-position: center;
}



.grid-container div:nth-child(6) {
  background-image: url('block4_9.jpg');
  background-size: cover;
  background-position: center;
}


.grid-container div:nth-child(7) {
  background-image: url('block4_10.jpg'); /* Добавляем изображение */
  background-size: cover;
  background-position: center;
}

.grid-container div:nth-child(9) {
  background-image: url('block4_11.jpg'); /* Добавляем изображение */
  background-size: cover;
  background-position: center;
}










.grid-container div {  
  position: relative; /* Позволяет кнопке позиционироваться внутри блока */
  display: flex;
  justify-content: center; /* Центрируем кнопку */
  align-items: flex-end; /* Размещаем кнопку внизу */
  text-align: center;
transition: transform 0.5s ease-in-out;
}

.grid-container div:hover {
  transform: scale(1.05); /* Увеличение блока при наведении */
}


.btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(0%); /* Центрируем кнопку */
  width: 90%; /* Немного уменьшаем ширину, чтобы не выходила за рамки */
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 13px;
  text-align: left;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between; /* Оставляем текст и стрелку по краям */
  align-items: center;
}


.btn:hover {
  background-color: rgba(0, 0, 0, 0.9); /* Чуть более насыщенный черный */
}

.btn::after {
  content: "→";
  font-size: 20px;
  color: rgb(199, 160, 112); /* Желтая стрелка */
}

.btn:hover::after {
  color: gold; /* Чуть насыщенный оттенок */
}


/* Принудительное центрирование кнопки */
.grid-container div:not(:has(background-image)) .btn {
  left: 0;
  width: 100%;
}


@media (max-width: 1024px) { /* Адаптация под ноутбуки */

.grid-wrapper::before {
        display: none; /* Убираем рамку */
    }

    
   .block4 {
    width: 100%;
    max-height: 700px; /* Уменьшаем высоту блока */
    display: flex;
    flex-direction: column; /* Оставляем место для текста */
    justify-content: flex-start; /* Делаем текст видимым */
    align-items: center;
    position: relative;
    background-color: #F5E8D0;
}

/* Исправляем текстовый контейнер */
.text-container {
    position: relative;
    top: 20px; /* Опускаем текст */
    width: 80%;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    z-index: 2; /* Поверх фона */
}

/* Коррекция размеров текста */
.bigtext {
    font-size: 20px;
    text-align: center;
    margin-left: -170px;
    margin-top: -20px;
}

.smalltext {
    width: 100%;
    text-align: left;
    font-size: 12px;
    margin-left: -110px;
    margin-top:90px;
}

/* Коррекция линии */
p7::before {
    width: 90%;
    height: 3px;
    top: -20px;
}

/* Опускаем `.grid-container` ниже */
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: repeat(4, 90px);
    gap: 8px;
    margin-top: 180px; /* Сдвигаем вниз */
    z-index: 1; /* Позади текста */
}


    
    .grid-container div:nth-child(1) { 
grid-column: span 2; 
grid-row: span 2; 
 background-image: url('block4_1.jpg'); /* Замените 'your-image.jpg' на путь к изображению */
    background-size: cover; /* Заполняет всю область */
    background-position: center; /* Центрирует изображение */
} 


.grid-container div:nth-child(2) 
{ grid-row: span 2; 
 background-image: url('block4_2.jpg'); /* Замените 'your-image.jpg' на путь к изображению */
    background-size: cover; /* Заполняет всю область */
    background-position: center; /* Центрирует изображение */} 


.grid-container div:nth-child(3) { 
grid-column: span 2;
 background-image: url('block4_3.jpg'); /* Замените 'your-image.jpg' на путь к изображению */
    background-size: cover; /* Заполняет всю область */
    background-position: center; /* Центрирует изображение */ 
} 


.grid-container div:nth-child(4) { 
grid-column: span 2; 
background-image: url('block4_4.jpg'); /* Замените 'your-image.jpg' на путь к изображению */
    background-size: cover; /* Заполняет всю область */
    background-position: center; /* Центрирует изображение */
} 


.grid-container div:nth-child(8) {
  grid-column: 3 / span 3; /* Охватывает три столбца */
  grid-row: 3;
background-image: url('block4_5.jpg'); /* Замените 'your-image.jpg' на путь к изображению */
    background-size: cover; /* Заполняет всю область */
    background-position: center; /* Центрирует изображение */
}


.grid-container div:nth-child(13) {
  grid-column: 3 / span 3; /* Охватывает три столбца */
  grid-row: 4; /* Размещаем прямо под восьмым блоком */
}



.grid-container div:nth-child(11) {
  grid-column: 1 / span 2; /* Охватывает две колонки */
  grid-row: 4; /* Остаётся в четвертой строке */
background-image: url('block4_7.jpg'); /* Замените 'your-image.jpg' на путь к изображению */
    background-size: cover; /* Заполняет всю область */
    background-position: center; /* Центрирует изображение */

}


.grid-container div:nth-child(10) {
  grid-column: 3 / span 3; /* Охватывает три столбца */
  grid-row: 4; /* Размещается в четвёртой строке */
background-image: url('block4_6.jpg'); /* Замените 'your-image.jpg' на путь к изображению */
    background-size: cover; /* Заполняет всю область */
    background-position: center; /* Центрирует изображение */
}


.grid-container div:nth-child(5) {
  background-image: url('block4_8.jpg');
  background-size: cover;
  background-position: center;
}



.grid-container div:nth-child(6) {
  background-image: url('block4_9.jpg');
  background-size: cover;
  background-position: center;
}


.grid-container div:nth-child(7) {
  background-image: url('block4_10.jpg'); /* Добавляем изображение */
  background-size: cover;
  background-position: center;
}

.grid-container div:nth-child(9) {
  background-image: url('block4_11.jpg'); /* Добавляем изображение */
  background-size: cover;
  background-position: center;
}

.btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(0%); /* Центрируем кнопку */
  width: 90%; /* Немного уменьшаем ширину, чтобы не выходила за рамки */
  height: 40px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 10px;
  text-align: left;
  border: none;
  border-radius: 0%;
  cursor: pointer;
  display: flex;
  justify-content: space-between; /* Оставляем текст и стрелку по краям */
  align-items: center;
}

}

